<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.fasyl.aimbrainplugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
<name>aimbrainPlugin</name>
<js-module name="aimbrainPlugin" src="www/aimbrainPlugin.js">
<clobbers target="aimbrainPlugin" />
</js-module>
<platform name="android">
<config-file parent="/*" target="res/xml/config.xml">
<feature name="aimbrainPlugin">
<param name="android-package" value="com.fasyl.aimbrainplugin.aimbrainPlugin" />
</feature>
</config-file>
 <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.microphone" />
	  </config-file>
<config-file parent="/manifest/application" target="AndroidManifest.xml">
<activity android:name="com.aimbrain.sdk.faceCapture.VideoFaceCaptureActivity" />
        <activity android:name="com.aimbrain.sdk.faceCapture.PhotoFaceCaptureActivity" />
</config-file>
<edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
      <application android:name="com.aimbrain.sdk.AMBNApplication.AMBNApplication">
</edit-config>
<source-file src="src/android/aimbrainPlugin.java" target-dir="src/com/fasyl/aimbrainplugin" />
<source-file src="src/android/FacialAuthentication.java" target-dir="src/com/fasyl/aimbrainplugin" />
<source-file src="src/android/FacialEnrollment.java" target-dir="src/com/fasyl/aimbrainplugin" />
<source-file src="src/android/IntegrationCallback.java" target-dir="src/com/fasyl/aimbrainplugin" />
<source-file src="src/android/IntegrationInterface.java" target-dir="src/com/fasyl/aimbrainplugin" />
</platform>
</plugin>	